
/***********/
/* FOOTER  */
/***********/

.footer {
  bottom: 0;
  width: 100%;
  border-top: 0.1em solid white;
  font-size: 1em !important;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.footer-row{
  background-color: rgba(11, 27, 55, 0.9);
  padding-top: 1%;
  padding-bottom: 1%;
}

.logo-dboom{ width: 2.8em !important; height: 2.8em !important; }
.logo-dboom:hover, .logo-dboom:focus, .logo-dboom:active, .logo-dboom.active {color:  #FF9933; transform:rotate(360deg);-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg);}	
.logo-angular { width:3em; height:3em; }	
/*========== RESPONSIVENESS ==========*/

/* Medium devices (desktops, 200px and up) */
@media (min-width: 200px) { .logo-angular { width:2em; height:2em; } .footer { position: absolute; font-size: 1em !important;} }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { .footer {  position: absolute; font-size: 1.8em !important;} }

/* Large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) { .footer { font-size: 2.3em !important;} }

/* Extra large devices (extra large desktops, 2000 and up) */
@media (min-width: 2000px) { .footer { font-size: 2.6em !important;} }

/* Extra large devices (extra large desktops, 3000 and up) */
@media (min-width: 3000px) { .footer { font-size: 3em !important;} }

/* Extra large devices (extra large desktops, 3500 and up) */
@media (min-width: 3500px) { .footer { font-size: 6em !important;} }