<footer class="footer navbar-fixed-bottom">
    <div class="footer-row">    
        <a href="http://www.meetup.com/Redradix-Weekends/events/219715822/" target="_blank" class="logo-redradix"><i class="fa fa-fw icon-logo-redradix"></i></a>
        &nbsp;&nbsp;
        & 
        &nbsp;&nbsp;
        <a href="https://angularjs.org/" target="_blank" class="logo-angular"><img src="images/logo-angularjs.svg" alt="AngularJS" class="logo-angular"></a>
        &nbsp;&nbsp;
        &
        &nbsp;&nbsp;
        <span class="logo-dboom-wrapper">
          <a href="https://github.com/daniboomerang" target="_blank" ng-mouseenter="spinBoomerang = true" ng-mouseleave="spinBoomerang = false" class="dboom-wrapper logo-dboom">
            <i ng-class="{'faa-spin animated': spinBoomerang}" class="fa fa-fw fa-lg icon-logo-dboom"></i>
          </a>
        </span>   
    </div>  
</footer>
