/*********************/
/* GNAs ContainerAPP */
/*********************/


html {
  position: relative;
  min-height: 100%;
}

body {
  background: -webkit-linear-gradient(0deg, #8e9eab 10%, #eef2f3 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(0deg, #8e9eab 10%, #eef2f3 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(0deg, #8e9eab 10%, #eef2f3 90%); /* IE10 */
  background:      -o-linear-gradient(0deg, #8e9eab 10%, #eef2f3 90%); /* Opera 11.10+ */
  background:         linear-gradient(0deg, #8e9eab 10%, #eef2f3 90%); /* W3C */
}

a {color: white; transition: all .5s ease-in-out;}